<!-- 
<section class="about-header-section pt-120 mob-pt-120 position-relative overflow-hidden banner-height">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading-wrap d-flex justify-content-between align-items-center z-5 position-relative">
                    <div class="about-content-left">
                        <div class="about-info"  data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                            <h1 class="fw-bold display-5 text-shadow">SharePoint Consulting</h1>
                            <p data-aos="fade-right text-shadow" class="lead">Offshore SharePoint! ASZ Technologies has been thriving on SharePoint. We are amongst the few SharePoint Consulting companies providing its services from India as an offshore development partner. Reach us for highly competitive rates with unmatched quality for Custom SharePoint development and staff augmentation.</p>
                            
                        </div>
                        
                    </div>
                    <div class="about-content-right" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                        <img src="assets/img/asz/culting-banner-img.png" alt="about" class="img-fluid rounded-custom">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->

<section class="heading_banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="banner_content">
          <h1>Testing & QA</h1>
          <p>
            We offer full-range QA and testing outsourcing services, can help to develop your QA or enhance the existing
            one, assist you in TCoE setup and evolution. We perform end-to-end testing of
            mobile, web and desktop application at each stage of the development lifecycle.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--page header section end-->

<!--feature section start-->
<section class="feature-section small_business">
  <div class="container">
    <div class="row align-items-lg-center justify-content-between">
      <div class="col-lg-6 order-lg-2 mb-7 mb-lg-0">
        <div class="mb-4" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic">
          <div class="explore_offering mb-60">
            <h2><span>Advantages </span> of QA Automation</h2>
          </div>
          <div class="advantage">
            <h3>Enhanced Quality</h3>
            <p>Reduce manual workforce that performs
              repetitive testing and prone to errors. Employ
              humans in more strategic tasks and adopt test
              automation as a sure-shot solution to excel in
              mundane tasks with 100% consistent and
              accurate results.</p>
          </div>

          <div class="advantage">
            <h3>Cost-Effectiveness</h3>
            <p>Identification of errors at the right time can
              save man hours, reduce cost and fix problems
              faster. With test automation, you can perform
              different test scenarios multiple times until the
              results are satisfactory.</p>
          </div>

          <div class="advantage">
            <h3>Accelerated Deliverables</h3>
            <p>Achieve accelerated application delivery cycles
              without compromising code quality with the
              help of quicker testing and wider coverage
              provided by test automation</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="pr-lg-4 mt-md-4 position-relative">
          <div class="bg-light text-center rounded-custom overflow-hidden p-4 mx-lg-auto">
            <img src="assets/img/asz/benefits_img.png" alt="" class="img-fluid shadow-sm rounded-custom"
              data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-out-cubic" />
            <div
              class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"
              data-aos="fade-down" data-aos-duration="800" data-aos-easing="ease-out-cubic"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--feature section end-->

<!--feature section start-->
<!-- <section class="feature-section embed">
  <div class="container">
    <div class="row align-items-lg-center justify-content-between">
      <div class="col-lg-6 order-lg-1 mb-7 mb-lg-0">
        <div class="mb-4 automated-test" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic">
          <div class="heading">
            <h2>
              Automated Testing
            </h2>
          </div>
          <p>

            Our Automation Testing experts strategize a roadmap for your organizational needs and recommend
            technology solutions to cut cost, accelerate time to market and dramatically improve end-product
            quality. Our diversified experience in using multiple test automation tools that can assist your
            businesses in choosing the most apt tools as per the needs and budget.
          </p>

          <p>
            that allows you to bring content from other sources by adding the
            embed code.
          </p>
        </div>
      </div>
      <div class="col-lg-6 order-lg-2">
        <div class="pr-lg-4 position-relative">
          <div class="text-center rounded-custom overflow-hidden mx-lg-auto">
            <img src="assets/img/asz/dooring.png" alt="" class="img-fluid rounded-custom shadow-sm" data-aos="fade-left"
              data-aos-duration="800" data-aos-easing="ease-out-cubic" />
            <div
              class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right"
              data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out-cubic"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="qa-sec">
  <div class="container">
    <h2 class="static-heading">
      <div class="head1">
        The statistics</div>
      <div class="head2">
        of our works</div>
    </h2>
    <div class="row align-items-center row-margin">
      <div class="col-lg-6"><img src="../../../../assets/img/asz/ui-img2.jpg" class="img-fluid"
          alt="The Static Of Our Works" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic">
      </div>
      <div class="col-lg-6">
        <div class="qa-row">
          <div class="qa-col">
            <div class="statics-hed-2">
              <span>SAAS Testing </span>
              <p> QA saas testing enhances user experience and reduces support issues.</p>
            </div>
          </div>

          <div class="qa-col">
            <div class="statics-hed-2">
              <span>Web Testing </span>
              <p> Monitors compatibility with browsers, accessibility, performance, speed, search engine rank, traffic
                handling and cyber security of the website for running successful online business. </p>
            </div>
          </div>
          <div class="qa-col">
            <div class="statics-hed-2">
              <span>App Testing </span>
              <p>App QA testing evaluates its quality, by end-to-end testing for proper downloading, functioning,
                usability and UI/UX stability to make an app immaculate.</p>
            </div>
          </div>

          <div class="qa-col">
            <div class="statics-hed-2">
              <span>eCom Testing </span>
              <p> Examines user experience, responsiveness, data security, load time, secure transaction.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <p class="text-center para">ASZ Technologies provides expertise Quality Assurance Testing Services to ensure accurate
          functionality of Mobile and Desktop Applications, and website performance on varied gadgets. Our focus is to
          thoroughly validate every aspect of the products to minimize its defects, by cutting-edge processes which
          include re-running of functional and non-functional tests to check bugs or breaks in a new code and
          penetration testing to fix security gaps by both automated and manual process.</p>
      </div>
    </div>
  </div>
</section>

<!-- <div class="blue-wrapper pt-5 pb-5 position-relative text-white">
  <div class="container"><div class="row d-flex justify-content-end">
    <div class="col-12 col-lg-6 img-full-block img-left-block mb-4 mb-lg-0 lazyloaded" data-bgset="/assets/img/qa-services/qatesting-features-small.jpg.jpg [(max-width: 375px)] | /assets/img/qa-services/qatesting-features-medium.jpg [(max-width: 992px)] | /assets/img/qa-services/qatesting-features-extra-medium.jpg [(max-width: 1200px)] | /assets/img/qa-services/qatesting-features.jpg" style="background-image: url(&quot;https://www.weblineindia.com/assets/img/qa-services/qatesting-features.jpg&quot;);">
      <picture style="display: none;">
        <source data-srcset="/assets/img/qa-services/qatesting-features-small.jpg.jpg" media="(max-width: 375px)" srcset="/assets/img/qa-services/qatesting-features-small.jpg.jpg"><source data-srcset="/assets/img/qa-services/qatesting-features-medium.jpg" media="(max-width: 992px)" srcset="/assets/img/qa-services/qatesting-features-medium.jpg"><source data-srcset="/assets/img/qa-services/qatesting-features-extra-medium.jpg" media="(max-width: 1200px)" srcset="/assets/img/qa-services/qatesting-features-extra-medium.jpg">
        <source data-srcset="/assets/img/qa-services/qatesting-features.jpg" srcset="/assets/img/qa-services/qatesting-features.jpg">
        <img alt="" class=" lazyloaded"></picture></div><div class="col-12 col-lg-6 pl-lg-5">
          <h2 class="heading2 text-white">Why WeblineIndia For QA And Testing</h2>
          <p>WeblineIndia is a leading QA services provider based in India. Established in 1999 with a goal to help organizations from diverse sectors improve their QA features, QA Mentor proudly boasts of getting a unique mixture of 150+ offshore and onshore assets who work round the clock helping all time zones.</p>
        </div>
      </div>
    </div>
  </div> -->


<!--feature section end-->

<!--features grid section start-->
<section class="feature-section what_we">
  <!-- <div class="explore_offering"><h2><span>Software Testing </span> & QA Services</h2></div> -->
  <!-- <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="feature-grid">
          <div
            class="feature-card shadow-sm highlight-card rounded-custom p-5"
            data-aos="fade-right"
            data-aos-duration="800"
            data-aos-easing="ease-out-cubic"
          >
            <div class="feature-content">
              <h6 class="h5">What we offer...</h6>
              <ul class="list-unstyled mb-0">
                <li class="py-1">
                  <i
                    class="fa fa-check-circle me-2 text-primary"
                    aria-hidden="true"
                  ></i
                  >High-converting
                </li>
                <li class="py-1">
                  <i class="fa fa-check-circle me-2 text-primary"></i
                  >Applications
                </li>
                <li class="py-1">
                  <i class="fa fa-check-circle me-2 text-primary"></i>Portals
                </li>
                <li class="py-1">
                  <i class="fa fa-check-circle me-2 text-primary"></i>Business
                  Intelligence
                </li>
                <li class="py-1">
                  <i class="fa fa-check-circle me-2 text-primary"></i>Intranet /
                  Extranet
                </li>
                <li class="py-1">
                  <i class="fa fa-check-circle me-2 text-primary"></i>SharePoint
                  Implementations
                </li>
                <li class="py-1">
                  <i class="fa fa-check-circle me-2 text-primary"></i>SharePoint
                  Customizations
                </li>
                <li class="py-1">
                  <i class="fa fa-check-circle me-2 text-primary"></i>SharePoint
                  Branding
                </li>
                <li class="py-1">
                  <i class="fa fa-check-circle me-2 text-primary"></i>Social
                  networking
                </li>
                <li class="py-1">
                  <i class="fa fa-check-circle me-2 text-primary"></i>Work Flows
                </li>
              </ul>
            </div>
          </div>
          <div
            class="feature-card shadow-sm rounded-custom p-5"
            data-aos="fade-down"
            data-aos-duration="800"
            data-aos-easing="ease-out-cubic"
          >
            <div
              class="icon-box d-inline-block rounded-circle bg-success-soft mb-32"
            >
              <i class="fa fa-handshake-o icon-sm text-success"></i>
            </div>
            <div class="feature-content">
              <h3 class="h5">Accurate Planning</h3>
              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
            <a href="" class="link-with-icon text-decoration-none mt-3"
              >View Details <i class="fa fa-arrow-right"></i
            ></a>
          </div>
          <div
            class="feature-card shadow-sm rounded-custom p-5"
            data-aos="fade-down-left"
            data-aos-duration="800"
            data-aos-easing="ease-out-cubic"
          >
            <div
              class="icon-box d-inline-block rounded-circle bg-danger-soft mb-32"
            >
              <i class="fa fa-user-friends icon-sm text-danger"></i>
            </div>
            <div class="feature-content">
              <h3 class="h5">Extended Functionality</h3>
              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
            <a href="" class="link-with-icon text-decoration-none mt-3"
              >View Details <i class="fa fa-arrow-right"></i
            ></a>
          </div>
          <div
            class="feature-card shadow-sm rounded-custom p-5"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-easing="ease-out-cubic"
          >
            <div
              class="icon-box d-inline-block rounded-circle bg-danger-soft mb-32"
            >
              <i class="fa fa-user-friends icon-sm text-danger"></i>
            </div>
            <div class="feature-content">
              <h3 class="h5">User adoption</h3>
              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
            <a href="" class="link-with-icon text-decoration-none mt-3"
              >View Details <i class="fa fa-arrow-right"></i
            ></a>
          </div>
          <div
            class="feature-card shadow-sm rounded-custom p-5"
            data-aos="fade-up-left"
            data-aos-duration="800"
            data-aos-easing="ease-out-cubic"
          >
            <div
              class="icon-box d-inline-block rounded-circle bg-warning-soft mb-32"
            >
              <i class="fa fa-cog icon-sm text-warning"></i>
            </div>
            <div class="feature-content">
              <h3 class="h5">Improved ROI</h3>
              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
            <a href="" class="link-with-icon text-decoration-none mt-3"
              >View Details <i class="fa fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="explore_offering mb-60">
      <h2><span>Software Testing </span> & QA Services</h2>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="testing-col">
          <h2>Web App Testing</h2>
          <p>Our well-trained testers leverage the best-in-class testing tools to perform end-to-end testing of web
            applications, making them performant across all browsers and devices</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="testing-col">
          <h2>Mobile App Testing</h2>
          <p>Get your app ready to take on any challenges responding to new user requirements. Our certified testers
            test all lines of software code, excavate bugs, and help you roll out products as quickly as possible.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="testing-col">
          <h2>Localization Testing</h2>
          <p>We use our robust localization strategies to align your applications with users' linguistic and cultural
            specifics. Our test engineers address localization glitches, including wrong user interface translation,
            absent text, and unreadable characters in the text.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="testing-col">
          <h2>Accessibility Testing </h2>
          <p>We make your web/mobile applications seamlessly accessible, including your differently-abled visitors. Our
            accessibility testers validate your digital properties against specific accessibility testing regulations
            checkpoints, resolve issues quickly, and integrate standardized accessibility practices into regular
            operations.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="testing-col">
          <h2>User Experience Testing</h2>
          <p>With experienced UX researchers, we deliver intuitive and easy-to-use experiences to your customers. As
            part of our fully managed solution, we source participants matching your specific customer profiles, execute
            studies, and provide actionable recommendations to improve engagement and customer loyalty.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="testing-col">
          <h2>Exploratory Testing</h2>
          <p>Our testers are skilled in testing the peculiarities of all forms of modern applications. We follow a
            highly optimized process to perform exploratory testing of a software product. It includes Defect
            categorization, Charter development, Fixed time testing, Analyzing test results, and Test result
            compilation.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--features grid section end-->